nav {
    width:220%;
    margin:0px;
    position:sticky;
    top:0px;
}

nav ul{
    list-style-type: none;
}

nav ul:after{
    content: "";
    display: table;
    clear: both;
}

nav ul li{
    float: left;
    width:200%;
    text-align: center;
    position: relative;
    color: white;
}


nav a {
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    color: black;
}

/* nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
} */

.deroulant > a:after{
    content:'▼';
    font-size:12px;
    margin-left: 5px;
}

.sous{
    display: none;
    position: absolute;
    width: auto;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous li a{
    color: white;
}

.sous a{
    padding: 10px;
    border-bottom: none
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1)
}
