@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin:auto;
    scroll-behavior: auto;
    background-color: #dfe1e7;
}

.image_presentation{
    height: 400px;
    width: 100%;
    margin: auto;
    object-fit: cover;
}